form {
  margin: 100px;
}

input,
textarea {
  border: 1px solid black;
}

progress {
  background-color: transparent;
}

progress::-webkit-progress-bar {
  background-color: #ffa;
}

progress::-webkit-progress-value {
  background-color: blue;
}

button,
.default-btn {
  background-color: #afa;
  border-radius: 8px;
  padding: 8px 10px;
}

.radios {
  margin: 100px 0;
  background-color: #aaf;
}
