table,
th,
td {
  /* HTML內文的style有設定了 */
  /* boder: 2px solid black
    border-collapse：collapse;
    border-spacing：2px; */
  line-height: 35px;
  font-family: DFKai-sb;
}
/* 外框線double效果呈現不出來 */
.diagonal {
  border-style: double;
}

td {
  align-content: center;
}
.text_center {
  align-content: center;
}

div {
  margin-top: 20px;
}
/* 文字水平置中似乎跟HTML的Style有衝突 */
.title_justify {
  text-align-last: justify;
  padding: 0 50px !important;
}
